body{
	margin: 0;
	padding: 0;
	font-family: 'Open Sans', 'Arial', sans-serif;
	font-size: 15px;
	line-height: 30px;
	font-weight: 300;
	background: #fff;
	color: #000;
	letter-spacing: 0.15px;
}
a{
	text-decoration: none;
	color: #000;
}
.visually_hidden{
	position: absolute;
  	clip: rect(0 0 0 0);
  	width: 1px;
  	height: 1px;
  	margin: -1px;
}
.container_header{
	background: #f7e296;
	width: 1160px;
	margin: auto;
	margin-top: 40px;
}
.container_header img{
	position: absolute;
	top: 21px;
	padding-left: 59px;
}
.header_main img:hover{
	opacity: 0.6;
	cursor: pointer;
}
.header_main img:active{
	opacity: 0.3;
	cursor: pointer;
}
.container_search{
	width: 441px;
	display: -webkit-box;  
 	display: -ms-flexbox;  
  	display: -webkit-flex;
	display: flex;
	min-height: 49px;
}
.search_input{
	border: none;
	background: none;
	color: #000;
	width: 274px;
	padding-left: 39px;
	line-height: 30px;
	font-size: 15px;
	letter-spacing: 0.15px;
	cursor: pointer;
}
.container_search:before{
	content: "";
	position: absolute;
	display: block;
	background: url(../img/search.svg);
	width: 16px;
	height: 16px;
	margin-top: 8px;
	margin-left: 1px;
}
.search_input:focus {
	border-bottom: 2px solid #000;
}

.container_search .search{

	display: none;
	background: #f7e296;
	border: 2px solid #000;
	padding-top: 13px;
	padding-bottom: 13px;
	padding-left: 21px;
	padding-right: 21px;  
	cursor: pointer;
}
.container_search .search{
	display: none;
	border: 2px solid #000;
	width: 85px;
}
.search_input:focus ~ .search {
 	display: block;
 	position: absolute;
 	margin-left: 273px;
 	margin-top: -47px;
}
.container_search .search:hover{
	background: #000;
	color: #fff;
}
.container_search .search:active{
	background: #000;
	color: rgba(255, 255, 255, 0.3);
}
.container_header .top_block{
	display: -webkit-box;  
 	display: -ms-flexbox;  
  	display: -webkit-flex;
	display: flex;
	justify-content: space-between;
	padding-top: 43px;
	padding-left: 60px;
	padding-right: 48px;
}
.user_block .login:before {
	content: "";
	background: url(../img/user.svg);
	position: absolute;
	margin-left: -25px;
	margin-top: 9px;
	width: 13px;
  	height: 12px;
}
.user_block .comparison:before {
	content: "";
	background: url(../img/compare.svg);
	position: absolute;
	margin-left: -20px;
	margin-top: 11px;
	width: 10px;
  	height: 10px;
}
.user_block .basket:before {
	content: "";
	background: url(../img/cart.svg);
	position: absolute;
	margin-left: -25px;
	margin-top: 9px;
	width: 12px;
  	height: 12px;
}
.user_block .basket{
	margin-left: 59px;
	margin-right: 12px;
}
.user_block .comparison{
	margin-left: 234px;
}
.header_main .bottom_block{
	position: relative;
	font-size: 18px;
	font-weight: 800;
	line-height: 24px;
	letter-spacing: 3.6px;
	font-family: 'Gilroy', 'Arial', sans-serif;
	font-style: normal;
  	font-stretch: normal;
	text-transform: uppercase;
}
.catalog_product ul{
	padding: 0;
	padding-top: 30px;
}
.catalog_add{
	position: absolute;
	list-style: none;
	line-height: 36px;
	text-transform: none;
	margin: 0;
	font-weight: 300;
	padding-top: 36px;
	width: 640px;
	z-index: 5;
	display: none;
}
.catalog_add a{
	font-family: 'Open Sans', 'Arial', sans-serif;
	font-size: 15px;
	list-style: none;
	letter-spacing: 0.15px;
}
.catalog_add li{
	display: inline-block;
	vertical-align: top;
	width: 190px;
	margin: 0;
	padding: 0;
}
.catalog_add li:nth-child(1),
.catalog_add li:nth-child(4){
	margin-right: 41px;
}
.catalog_add li:last-child{
	display: block;
}
.main_nav ul{
	list-style: none;
	margin: 0;
	padding: 0;
	display: -webkit-box;  
 	display: -ms-flexbox;  
  	display: -webkit-flex;
	display: flex;
}
.catalog_product:hover .catalog_add{
	display: block;
	position: absolute;
}
.catalog_add:before{
	content: "";
	position: absolute;
	width: 1160px;
	height: 100%;
	background: ;
	z-index: -1;
	background: #f7e296;
	left: -60px;
	top: 25px;
}
.catalog_product .c_p:before{
	content: "";
	position: absolute;
	background: url(../img/plus.svg);
	margin-top: 4px;
	left: 290px;
	z-index: 2;
	width: 16px;
	height: 16px;
	opacity: 0.3;
}
.bottom_block{
	padding-top: 20px;
	padding-left: 60px;
	padding-right: 56px;
	padding-bottom: 163px;
	display: -webkit-box;  
 	display: -ms-flexbox;  
  	display: -webkit-flex;
	display: flex;
	justify-content: space-between;
}
.catalog_bottom_block{
	padding-bottom: 50px;
}
.main_nav .contacts{
	padding-left: 110px;
}
.main_nav .guarantee{
	padding-left: 34px;
}
.user_block a:hover,
.bottom_block a:hover,
.user_block .login:hover:before,
.user_block .comparison:hover:before,
.user_block .basket:hover:before{
	opacity: 0.6;
	cursor: pointer;
}
.user_block a:active,
.bottom_block a:active,
.header_main img:active,
.user_block .login:active:before,
.user_block .comparison:active:before,
.user_block .basket:active:before{
	opacity: 0.3;
	cursor: pointer;
}

.slider{
	position: relative;
	top: -119px;
	width: 1160px;
	margin: 0 auto;
}
.slider_list{
	padding: 0;
	list-style: none;
	margin: 0;
}
.conteiner_slider{
	display: -webkit-box;  
 	display: -ms-flexbox;  
  	display: -webkit-flex;
	display: flex;
	justify-content: space-between;
	margin-right: 82px;
	min-height: 550px;
}
.img_slider img{
	margin-right: 125px;
	margin-left: 90px;
	margin-top: 8px;
}
.img_slider2{
	margin-right: 138px;
	margin-left: 116px;
	margin-top: 20px;
}
.img_slider3{
	margin-right: 42px;
	margin-left: 31px;
	margin-top: 73px;
}
.info_text_slider{
	margin-top: 85px;
	z-index: 2;
	width: 488px;
}
.info_text_slider h2{
	font-size: 47px;
	font-family: 'Gilroy', 'Arial', sans-serif;
	font-weight: 800;
	line-height: 56px;
	letter-spacing: 0.47px;
	width: 500px;
	margin: 0;
	margin-bottom: 20px;
	margin-left: -2px;
	margin-top: 2px;
}
.info_text_slider p{
	font-size: 15px;
	line-height: 30px;
	letter-spacing: 0.15px;
	margin: 0;
	margin-bottom: 38px;
}
.buttom_to_detailed_slider{
	position: relative;
	display: inline-block;
	vertical-align: top;
	padding: 9px 0px;
	font-size: 18px;
	font-family: 'Gilroy', 'Arial', sans-serif;
	font-weight: bold;
	vertical-align: top;
	text-align: center;
	color: #000;
	text-transform: uppercase;
	text-decoration: none;
	letter-spacing: 3.6px;
	width: 220px;
	border: none;
	background: none;
}
.buttom_to_detailed_slider:before {
	content: "";
	position: absolute;
	top: 41%;
	left: 0;
	z-index: -1;
	width: 220px;
	height: 8px;
	background-color: #f0c52e;
	transition: all .2s ease-in-out;
}
.buttom_to_detailed_slider:hover:before{
	content: "";
	position: absolute;
	top: 6%;
	left: 0;
	z-index: -1;
	width: 220px;
	height: 40px;
	background-color: #f0c52e;
	transition: all .2s ease-in-out;
}
.buttom_to_detailed_slider:active{
	color: rgba(0, 0, 0, 0.3);
}
.detailed_slider{
	display: -webkit-box;  
 	display: -ms-flexbox;  
  	display: -webkit-flex;
	display: flex;
}
ul .detailed_slider{
	padding: 0;
	margin-top: 55px;
}
.detailed_slider li{
	display: -webkit-box;  
 	display: -ms-flexbox;  
  	display: -webkit-flex;
	display: flex;
	flex-direction: column;
	width: 140px;
}
.detailed_slider li:nth-child(1){
	width: 160px
}
.top_detailed_slider{
	font-size: 36px;
	font-family: 'Gilroy', 'Arial', sans-serif;
	margin-bottom: 15px;
}
.bottom_detailed_slider{
	font-size: 13px;
	line-height: 20px;
	letter-spacing: 0.13px;
	color: #464646;
}
.number_slide{
	position: absolute;
	font-size: 179px;
	color: #fff;
	font-family: 'Gilroy', 'Arial', sans-serif;
	font-weight: 800;
	top: 70px;
	left: 928px;
}
.number_slide:before{
	content: "";
	position: absolute;
	background: #fff;
	width: 100px;
	height: 7px;
	top: -21px;
	left: -332px;
}
.number_slide2{
	position: absolute;
	font-size: 179px;
	color: #fff;
	font-family: 'Gilroy', 'Arial', sans-serif;
	font-weight: 800;
	top: 70px;
	left: 905px;		
}
.number_slide2:before{
	content: "";
	position: absolute;
	background: #fff;
	width: 100px;
	height: 7px;
	top: -25px;
	left: -305px;
}
.slider_controls label{
	display: inline-block;
	vertical-align: top;
  	width: 6px;
  	height: 6px;
  	margin-right: 16px;
  	vertical-align: top;
  	background-color: transparent;
  	border: 3px solid #000;
  	border-radius: 50%;
  	cursor: pointer;
  	opacity: 0.3;
}
.slider_controls{
	position: absolute;
	top: 334px;
	left: 1000px;
	z-index: 20;
}
.none_slider{
	display: none;
}
#product_1:checked ~ .slider #slide_1,
#product_2:checked ~ .slider #slide_2,
#product_3:checked ~ .slider #slide_3 {
  	display: block;
}

.type_item_link{
	display: inline-block;
	vertical-align: top;
	width: 160px;
}
.card_catalog{
	display: -webkit-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	justify-content: space-between;
	width: 1160px;
	margin: 0 auto;
	margin-bottom: 178px;
	margin-top: -68px;
}
.top_card_catalog{
	display: -webkit-box;  
 	display: -ms-flexbox;  
  	display: -webkit-flex;
	display: flex;
	background: #f7e296;
	width: 160px;
	height: 160px;
	cursor: pointer;
}
.top_card_catalog img{
	margin: 0 auto; 
}
.img_bottom_class img{
	margin-top: 40px;
}
.item_card_catalog p{
	font-size: 18px;
	font-family: 'Gilroy', 'Arial', sans-serif;
	font-weight: 800;
	width: 160px;
	line-height: 24px;
	letter-spacing: 0.18px;
	cursor: pointer;
	margin: 0;
	margin-top: 31px;
}
.type_item_link:hover .top_card_catalog {
	background-color: #f0c52e
}
.type_item_link:active {
	color: rgba(0, 0, 0, .3)
}
.type_item_link:active .img_avtive{
	opacity: 0.3;
}
.device_btn{
	position: relative;
	display: inline-block;
	vertical-align: top;
	padding: 9px 7px;
	font-size: 18px;
	font-family: 'Gilroy', 'Arial', sans-serif;
	font-weight: bold;
	vertical-align: top;
	text-align: center;
	color: #000;
	text-transform: uppercase;
	text-decoration: none;
	letter-spacing: 3.6px;
	width: 160px;
	border: none;
	background: none;
	margin-bottom: 16px;
	cursor: pointer;
}
.device_btn:before {
	content: "";
	position: absolute;
	top: 41%;
	left: 0;
	z-index: -2;
	width: 160px;
	height: 8px;
	background-color: #f0c52e;
}
.device_btn:hover:before{
	content: "";
	position: absolute;
	top: 6%;
	left: 0;
	z-index: -2;
	width: 160px;
	height: 40px;
	background-color: #f0c52e;
}
.services_bth li:nth-child(3):after{
	content: "";
	position: absolute;
	top: 84px;
	left: 276px;
	display: block;
	width: 7px;
	height: 319px;
	background-color: #000;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
	z-index: 30;
}
#services_bth_1:checked~.services label[for=services_bth_1],
#services_bth_2:checked~.services label[for=services_bth_2],
#services_bth_3:checked~.services label[for=services_bth_3]{
	color: #f7e184;
}
#services_bth_1:checked~.services label[for=services_bth_1]::before,
#services_bth_2:checked~.services label[for=services_bth_2]::before,
#services_bth_3:checked~.services label[for=services_bth_3]::before {
	top: 4px;
	width: 280px;
	height: 41px;
	background-color: #000;
}
.services{
	position: relative;
	z-index: 1;
	background: #e5e5e5;
	margin-bottom: 94px;
}
.conteiner_service{
	display: -webkit-box;  
 	display: -ms-flexbox;  
  	display: -webkit-flex;
	display: flex;
	justify-content: space-between;
	margin: 0 auto;
	width: 1160px;
	min-height: 288px;
	position: relative;
	top: -24px;
}
.switch_service{
	display: -webkit-box;  
 	display: -ms-flexbox;  
  	display: -webkit-flex;
	display: flex;
	flex-direction: column;
	width: 300px;
	margin-top: -15px;
}
.services_bth{
	list-style: none;
	padding: 0
}
.item_service{
	display: -webkit-box;  
 	display: -ms-flexbox;  
  	display: -webkit-flex;
	display: flex;
	width: 725px;
	justify-content: space-between;
	margin-right: 45px;
}
.item_service div{
	padding-left: 10px;
}
.item_service h3{
	font-size: 47px;
	margin: 0;
	font-family: 'Gilroy', 'Arial', sans-serif;
	font-weight: bold;
	margin-top: 7px;
	margin-bottom: 39px;
	letter-spacing: 0.47px;
}
.item_service p{
	margin: 0;
	width: 440px;
	color: #464646;
	font-size: 15px;
	line-height: 30px;
	letter-spacing: 0.15px;
}
.img_services{
	margin-top: 10px;
	margin-right: 21px;
}
.img_services2{
	margin-top: -20px;
}
.none_service{
	display: none;
}
#services_bth_1:checked ~ .services #block_service1,
#services_bth_2:checked ~ .services #block_service2,
#services_bth_3:checked ~ .services #block_service3{
	display: block;
}












.container_company{
	display: -webkit-box;  
 	display: -ms-flexbox;  
  	display: -webkit-flex;
	display: flex;
	justify-content: space-between;
	width: 1160px;
	margin: 0 auto;
	margin-top: 137px;
	margin-bottom: 78px;
}
.container_company p{
	margin: 0;
}
.container_company .info{
	width: 462px;
}
.container_company .p_bottom_padding{
	padding-bottom: 29px;
}
.container_company p{
	width: 472px;
	font-size: 15px;
	line-height: 30px;
}
.container_company h2,
.contact h2{
	color: #000;
	font-family: 'Gilroy', 'Arial', sans-serif;
	font-weight: 800;
	font-size: 47px;
	line-height: 48px;
	letter-spacing: 0.47px;
	padding-bottom: 43px;
	margin: 0;
}
.company-list p{
	color: #464646;
}
.company-list li{
	font-family: 'Gilroy', 'Arial', sans-serif;
	color: #000;
	font-size: 16px;
	font-weight: 800;
	line-height: 30px;
	margin-bottom: 10px;
}
.container_company ul{
	list-style: none;
	margin: 0;
	padding: 0;
	margin-top: 71px;
	margin-bottom: 56px;
	margin-left: 34px;
}
.company-list li:before{
	content: "";
	position: absolute;
	margin-top: 10px;
	margin-left: -34px;
	width: 4px;
	height: 4px;
	border-radius: 50%;
	border: 3px solid #e5e5e5;
}
.contact img{
	margin-top: 39px;
	margin-bottom: 60px;
}
.buttom_to_detailed_information{
	position: relative;
	display: inline-block;
	vertical-align: top;
	padding: 9px 5px;
	font-size: 18px;
	font-family: 'Gilroy', 'Arial', sans-serif;
	font-weight: bold;
	vertical-align: top;
	text-align: center;
	color: #000;
	text-transform: uppercase;
	text-decoration: none;
	letter-spacing: 3.6px;
	width: 250px;
	border: none;
	background: none;
}
.buttom_to_detailed_information:before {
	content: "";
	position: absolute;
	top: 41%;
	left: 0;
	z-index: -1;
	width: 260px;
	height: 8px;
	background-color: #f0c52e;
	transition: all .2s ease-in-out;
}
.buttom_to_detailed_information:hover:before{
	content: "";
	position: absolute;
	top: 6%;
	left: 0;
	z-index: -1;
	width: 260px;
	height: 40px;
	background-color: #f0c52e;
	transition: all .2s ease-in-out;
}
.buttom_to_detailed_information:active{
	color: rgba(0, 0, 0, 0.3);
}
.buttom_to_detailed_information_button{
	position: relative;
	display: inline-block;
	vertical-align: top;
	padding: 9px 5px;
	font-size: 18px;
	font-family: 'Gilroy', 'Arial', sans-serif;
	font-weight: bold;
	vertical-align: top;
	text-align: center;
	color: #000;
	text-transform: uppercase;
	text-decoration: none;
	letter-spacing: 3.6px;
	width: 250px;
	border: none;
	background: none;
	cursor: pointer;
}
.buttom_to_detailed_information_button:before {
	content: "";
	position: absolute;
	top: 41%;
	left: 0;
	z-index: -1;
	width: 260px;
	height: 8px;
	background-color: #f0c52e;
	transition: all .2s ease-in-out;
}
.buttom_to_detailed_information_button:hover:before{
	content: "";
	position: absolute;
	top: 6%;
	left: 0;
	z-index: -1;
	width: 260px;
	height: 40px;
	background-color: #f0c52e;
	transition: all .2s ease-in-out;
}
.buttom_to_detailed_information_button:active{
	color: rgba(0, 0, 0, 0.3);
}
.container_company h2:before{
	content: "";
	position: absolute;
	width: 80px;
	height: 7px;
	background: #000;
	top: 1817px;
}
.company_logo{
	display: -webkit-box;  
 	display: -ms-flexbox;  
  	display: -webkit-flex;
	display: flex;
	justify-content: space-between;
	width: 1160px;
	margin: 0 auto;
}
.item_img_company_logo{
	cursor: pointer;
	opacity: 0.2;
}
.item_img_company_logo:hover{
	opacity: 1;
}




.footer_main{
	background: #464646;
}
.container_footer{
	display: -webkit-box;  
 	display: -ms-flexbox;  
  	display: -webkit-flex;
	display: flex;
  	justify-content: space-between;
	width: 1160px;
	margin: 0 auto;
}
.container_footer .footer_right{
	width: 310px;
	margin-top: 65px;
}
.footer_right p{
	margin: 0;
	width: 210px;
}
.footer_center{
	margin-top: 134px;
}
.footer_center ul{
	margin: 0;
	margin-bottom: 68px;
}
.footer_center .user_info_footer{
	display: -webkit-box;  
 	display: -ms-flexbox;  
  	display: -webkit-flex;
	display: flex;
  	padding: 0;
  	margin-bottom: 63px;
}
.user_info_footer li:nth-child(1),
.user_info_footer li:nth-child(2){
	margin-right: 38px;
}
.footer_center .social_button{
	display: -webkit-box;  
 	display: -ms-flexbox;  
  	display: -webkit-flex;
	display: flex;
	justify-content: center;
	margin-bottom: 67px;
	padding: 0;
}
.social_button li:nth-child(1),
.social_button li:nth-child(2){
	padding-right: 23px;
}
.social_button img{
	opacity: 0.3;
}
.social_button img:hover,
.footer_left .footer_login:hover:before,
.footer_left .footer_comparison:hover:before,
.footer_left .footer_basket:hover:before{
	opacity: 0.6;
}
.social_button img:active,
.footer_left .footer_login:active:before,
.footer_left .footer_comparison:active:before,
.footer_left .footer_basket:active:before{
	opacity: 0.1;
}
.footer_left{
	display: -webkit-box;  
 	display: -ms-flexbox;  
  	display: -webkit-flex;
	display: flex;
	flex-direction: column;
	width: 299px;
}
.footer_left ul{
	display: -webkit-box;  
 	display: -ms-flexbox;  
  	display: -webkit-flex;
	display: flex;
  	justify-content: space-between;
	padding: 0;
	margin: 0;
	margin-top: 68px;
	margin-bottom: 32px;
}
.footer_left li:nth-child(3),
.footer_left li:nth-child(2){
	margin-left: 20px;
}
.footer_left p{
	margin: 0;
	display: -webkit-box;  
 	display: -ms-flexbox;  
  	display: -webkit-flex;
	display: flex;
	justify-content: flex-end;
	margin-bottom: 63px;
}
.footer_left a{
	margin-left: auto;
}
.footer_main li{
	list-style: none;
}
.footer_right img{
	margin-bottom: 20px;
}
.footer_right img:hover{
	opacity: 0.6;
	cursor: pointer;
}
.footer_right img:active{
	opacity: 0.3;
	cursor: pointer;
}
.footer_right p{
	color: #fff;
}
.footer_right p:after{
	content: "";
	position: absolute;
	margin-top: 107px;
	margin-left: -205px;
	width: 80px;
	height: 7px;
	background-color: #ffc600;
}
.user_info_footer a{
	font-family: 'Gilroy', 'Arial', sans-serif;
	font-size: 18px;
	font-weight: 800;
	color: #fff;
	line-height: 24px;
	letter-spacing: 3.6px;
	text-transform: uppercase;
}
.user_info_footer a:hover{
	color: rgba(255, 255, 255, 0.6);
}
.user_info_footer a:active{
	color: rgba(255, 255, 255, 0.3);
}
.footer_left .footer_login:before {
	content: "";
	position: absolute;
	background: url(../img/user21.svg) no-repeat;
	margin-left: -25px;
	margin-top: 9px;
	width: 13px;
	height: 12px;
}
.footer_left .footer_comparison:before {
	content: "";
	position: absolute;
	background: url(../img/compare_bottum.svg) no-repeat;
	margin-left: -25px;
	margin-top: 11px;
	width: 10px;
	height: 10px;
}
.footer_left .footer_basket:before {
	content: "";
	position: absolute;
	background: url(../img/cart_bottum.svg) no-repeat;
	margin-left: -25px;
	margin-top: 9px;
	width: 12px;
	height: 12px;
}
.footer_left a:hover{
	color: #fff;
	cursor: pointer;
}
.footer_left a:active{
	color: rgba(255, 255, 255, 0.3);
	cursor: pointer;
}
.footer_left a{
	color: rgba(255, 255, 255, 0.7);
	line-height: 30px;
	letter-spacing: 0.15px;
}
.footer_left p{
	color: #fff;
}
.footer_left img{
	cursor: pointer;
}
.footer_left img:hover{
	opacity: 0.6;
}
.footer_left img:active{
	opacity: 0.3;
}







.container_request{
	position: fixed;
	display: none;
	top: 50px;
	left: 50%;
	z-index: 10;
	width: 766px;
	min-height: 380px;
	padding: 95px 100px 78px;
	background-color: #fff;
	margin-left: -480px;
	box-shadow: 0 30px 50px rgba(0, 0, 0, 0.7);
}
.container_request_show{
	display: block;
	animation: bounse 0.6s;
}
.container_request .name_request{
	display: inline-block;
	vertical-align: top;
	position: relative;
}
.container_request label{
	color: #000;
	font-family: 'Gilroy', 'Arial', sans-serif;
	font-size: 17.5px;
	line-height: 24.5px;
	font-weight: 800;
	cursor: pointer;
}
.container_request p{
	margin: 0;
}
.name_request input,
.email_request input{
	width: 340px;
	min-height: 20px;
	border: none;
	padding-top: 14px;
	padding-bottom: 16px;
	padding-left: 20px;
	background-color: #f2f2f2;
	color: #464646;
	font-size: 14px;
	margin-top: 5px;
	margin-right: 40px;
	margin-bottom: 34px;
}
.container_request .email_request{
	display: inline-block;
	vertical-align: top;
	position: relative;
	width: 360px;
	min-height: 50px;
}
.message_request textarea{
	border: none;
	color: #464646;
	background-color: #f2f2f2;
	width: 744px;
  	height: 132px;
 	font-size: 14px;
 	line-height: 17.5px;
 	cursor: pointer;
 	padding-left: 20px;
 	padding-top: 18px;
}
.close{
	background: url(../img/modal-close_sta.png) no-repeat;
	position: absolute;
	top: 20px;
	left: 890px;
	width: 55px;
	height: 55px;
	border: none;
	background-color: transparent;
	cursor: pointer;
	font-size: 0;
}
.buttom_to_detailed_information_button_form{
	display: inline-block;
	vertical-align: top;
	position: relative;
	background: none;
	border: none;
	font-family: 'Gilroy', 'Arial', sans-serif;
	font-size: 18px;
	font-weight: bold;
	text-transform: uppercase;
	cursor: pointer;
	width: 200px;
	padding: 0;
	z-index: 2;
	letter-spacing: 3.6px;
}
.buttom_to_detailed_information_button_form:before{
	content: "";
	position: absolute;
	z-index: -1;
	width: 200px;
	height: 8px;
	top:6px;
	right: 1%;
	background-color: #f0c52e;
	transition: all .2s ease-in-out;
}
.buttom_to_detailed_information_button_form:hover:before{
	content: "";
	position: absolute;
	z-index: -1;
	width: 200px;
	height: 40px;
	top: -10px;
	right: 1%;
	background-color: #f0c52e;
	transition: all .2s ease-in-out;
}
.buttom_to_detailed_information_button_form:active{
	color: rgba(0, 0, 0, 0.3);
}
.close:hover{
	background: url(../img/modal-close_hover.png) no-repeat;
}
.close:active{
	background: url(../img/modal-close_active.png) no-repeat;
}





.map_form{
	position: fixed;
	display: none;
	top: 50px;
	left: 50%;
	width: 960px;
	height: 559px;
	z-index: 10;
	margin-left: -480px;
}
.map_form img{
	width: 100%;
	height: auto;
}
.map_show{
	display: block;
	animation: bounse 0.6s;
}
.img_map{
	cursor: pointer;
}
.map_form iframe{
	position: absolute;
	z-index: 10;
	border: none;
}
.map_form .close_map{
	position: absolute;
	top: 30px;
	left: 865px;
	width: 55px;
	height: 55px;
	border: none;
	background-color: transparent;
	cursor: pointer;
	font-size: 0;
	z-index: 11;
}
.close_map{
	background: url(../img/modal-close_active.png) no-repeat;
}
.close_map:hover{
	background: url(../img/modal-close_hover.png) no-repeat;
}
.close_map:active{
	background: url(../img/modal-close_active.png) no-repeat;
}
.modal_error {
  animation: shake 0.6s;
}







.container_shop li{
	list-style: none;
}
.container_form label:hover,
.container_form label:hover:before{
	opacity: 0.6;
}
.directory_setting input[type="checkbox"]{
	display: none;
}
.directory_setting label:before{
	content: "";
	display: inline-block;
	vertical-align: top;
	background: url(../img/checkbox-off.png) no-repeat;
	width: 25px;
	height: 23px;
	vertical-align: middle;
	margin-top: -3px;
	margin-right: 13px;	
}
input[type="checkbox"]:checked + label::before{
	content: "";
	display: inline-block;
	vertical-align: top;
	background: url(../img/checkbox-on.png) no-repeat;
	width: 25px;
	height: 23px;
	vertical-align: middle;
	margin-top: -3px;
}




.directory_setting_bottom input[type="radio"]{
	display: none;
}
.directory_setting_bottom label:before{
	content: "";
	display: inline-block;
	vertical-align: top;
	background: url(../img/radio-off.png) no-repeat;
	width: 25px;
	height: 25px;
	vertical-align: middle;
	margin-top: -3px;
	margin-right: 13px;	
}
.directory_setting_bottom input[type="radio"]:checked + label::before{
	content: "";
	display: inline-block;
	vertical-align: top;
	background: url(../img/radio-on.png) no-repeat;
	width: 25px;
	height: 25px;
	vertical-align: middle;
	margin-top: -3px;
}
.column_gradient{
}
.filters fieldset{
	border: none;
}
.filters legend{
	font-family: 'Gilroy', 'Arial', sans-serif;
	font-size: 18px;
	line-height: 24px;
	letter-spacing: 0.18px;
	font-weight: bold;
}
.filter_option label{
	color: #000;
	line-height: 40px;
	letter-spacing: 0.14px;
	cursor: pointer;
}
.button_filter{
	font: inherit;
	text-align: center;
	color: #000;
	line-height: 23.5px;
	letter-spacing: 3.7px;
	vertical-align: middle;
	text-transform: uppercase;
	border: none;
	width: 260px;
  	height: 8px;
  	background-color: #f0c52e;
  	font-family: 'Gilroy', sans-serif;
  	font-weight: 800;
  	font-size: 18.5px;
}
.catalog_item img:hover{
	opacity: 0.7;
}
.catalog_item span{
	font-family: 'Gilroy', 'Arial', sans-serif;
	font-size: 16px;
	line-height: 24px;
	letter-spacing: 0.16px;
	color: #464646;
}
.catalog_item h3{
	display: inline-block;
	vertical-align: top;
	font-family: 'Gilroy', 'Arial', sans-serif;
	font-weight: bold;
	font-size: 18px;
	line-height: 24px;
	letter-spacing: 0.18px;
	margin: 0;	
}
.item_name_price{
	display: -webkit-box;  
 	display: -ms-flexbox;  
  	display: -webkit-flex;
	display: flex;
	justify-content: space-between;
	padding-top: 23px;
	padding-right: 3px;	
}
.catalog_item{
	position: relative;
	display: inline-block;
	vertical-align: top;
	width: 360px;
	min-height: 486px;
	margin-top: 19px;
	font-size: 20px;
	vertical-align: top;
}
.img_buy_block{
	width: 360px;
	height: 380px;
}
.basket_info{
	position: absolute;
	top: 170px;
	left: 80px;
	z-index: 10;
	display: none;
	width: 200px;
}
.basket_button{
	position: relative;
	display: inline-block;
	vertical-align: top;
	padding: 9px 5px;
	font-size: 18px;
	font-family: 'Gilroy', 'Arial', sans-serif;
	font-weight: bold;
	vertical-align: top;
	text-align: center;
	color: #000;
	text-transform: uppercase;
	text-decoration: none;
	letter-spacing: 3.6px

}
.basket_button:active{
	color: rgba(0, 0, 0, 0.3)
}
.basket_button:before {
	content: "";
	position: absolute;
	top: 40%;
	left: 0;
	z-index: -1;
	width: 100%;
	height: 16%;
	background-color: #f0c52e;
	transition: all .2s ease-in-out
}
.basket_button:hover::before{
	top: 0;
	height: 100%;
}
a.basket_button{
	width: 190px;
}
.basket_compare{
	line-height: 36px;
	text-align: center;
	color: rgba(0, 0, 0, .5);
	width: 200px;
	font-size: 13px;
	display: inline-block;
	vertical-align: baseline;
	text-decoration: none
}
.basket_compare:hover{
	color: #000;
}
.basket_compare:active{
	color: rgba(0, 0, 0, .2)
}
.basket_info:hover,
.img_buy_block:hover+.basket_info {
	display: block;
}
.basket_info:hover::before,
.img_buy_block:hover + .basket_info::before {
	content: "";
	position: absolute;
	top: -170px;
	left: -80px;
	z-index: -1;
	width: 360px;
	height: 380px;
	background-color: rgba(238, 238, 238, 0.7)
}
.new::after {
	content: "NEW";
	position: absolute;
	top: 29px;
	right: 25px;
	width: 35px;
	height: 22px;
	padding: 20px 13px;
	font-size: 16px;
	font-family: 'Gilroy', 'Arial', sans-serif;
	font-weight: bold;
	text-align: center;
	color: rgba(0, 0, 0, 0.2);
	letter-spacing: 1px;
	border: 2px solid rgba(0, 0, 0, 0.1);
	border-radius: 50%
}

.container_breadcrumbs{
	width: 1160px;
	margin: 0 auto;
	margin-top: 39px;
	margin-bottom: 44px;
}
.container_breadcrumbs h2{
	margin: 0;
	margin-left: 60px;
	font-family: 'Gilroy', 'Arial', sans-serif;
	font-size: 47px;
	line-height: 48px;
	letter-spacing: 0.47px;
	margin-bottom: 18px;
}
.container_breadcrumbs ul{
	margin: 0;
	padding: 0;
	display: -webkit-box;  
 	display: -ms-flexbox;  
  	display: -webkit-flex;
	display: flex;
	justify-content: space-between;
	margin-left: 60px;
	width: 381px;
}
.breadcrumbs li:nth-child(1):after,
.breadcrumbs li:nth-child(2):after{
	content: "";
	background: url(../img/nav-arrow.png) no-repeat;
	position: absolute;
	margin-top: 13px;
	margin-left: 10px;
	width: 4px;
	height: 7px;
}
.breadcrumbs a:hover{
	color: rgba(0, 0, 0, 0.6); 
}





.sorting{
	background: linear-gradient(to right, #dbdbdb 0%, #dbdbdb 20%, #ebebeb 20%, #ebebeb 100%);
}
.filters_sorting{
	width: 225px;
	background: #dbdbdb;
	margin-left: 60px;
	padding-right: 43px;
}
.filters_sorting h2{
	margin: 0;
	font-size: 16px;
	line-height: 24px;
	letter-spacing: 3.2px;
	font-family: 'Gilroy', 'Arial', sans-serif;
	font-weight: bold;
	padding-left: 1px;
	padding-top: 21px;
	padding-bottom: 26px;
	text-transform: uppercase;
}
.conteiner_sorting{
	display: -webkit-box;  
 	display: -ms-flexbox;  
  	display: -webkit-flex;
	display: flex;
	width: 1160px;
	margin: 0 auto;
}
.sorting_sort{
	display: -webkit-box;  
 	display: -ms-flexbox;  
  	display: -webkit-flex;
	display: flex;
	justify-content: space-between;
	margin-left: 73px;
	padding-top: 18px;
	padding-bottom: 17px;
}
.sorting_sort h2{
	margin: 0;
	font-size: 16px;

	letter-spacing: 3.2px;
	font-family: 'Gilroy', 'Arial', sans-serif;
	font-weight: bold;
	text-transform: uppercase;
}
.sort_type{
	margin-left: 55px;
	width: 320px;
}
.sort_type .current{
	opacity: 1;
}
.sort_type a{
	opacity: 0.3;
	color: #000;
}
.sort_type a:hover{
	opacity: 0.6;
}
.sort_type a:active{
	opacity: 1;
}
.sort_type a{
	font-size: 14px;
	line-height: 18px;
	margin-right: 26px;
}

.sort_direction_up:before{
	content: "";
	position: absolute;
	background: url(../img/icon-up-dir.svg) no-repeat;
	width: 11px;
	height: 10px;
	top: 433px;
	left: 1200px;
	opacity: 0.4;
}
.sort_direction_down:before{
	content: "";
	position: absolute;
	background: url(../img/icon-down-dir.svg) no-repeat;
	width: 11px;
	height: 10px;
	top: 433px;
	left: 1240px;
}
.sort_direction_up:hover:before{
	opacity: 1;
}
.range{
	position: relative;
	width: 195px;
	margin-top: 35px;
	padding-left: 5px;
}
.scale{
	height: 2px;
	background-color: #dbdbdb;
}
.bar{
	width: 112px;
	height: 2px;
	background: #91c92f;
}
.toggle{
	position: absolute;
	top: -6px;
	left: 0;
	width: 10px;
	height: 10px;
	background: #eee;
	border: 2px solid #000;
	border-radius: 50%;
	cursor: pointer;
}
.toggle:active{
	background-color: #7eae29;
	border: 3px solid #fff;
	box-shadow: 0 5px 5px -3px rgba(0, 0, 0, .75)
}
.toggle_max{
	left: 110px;
}
.selected_price{
	margin-top: 5px;
}
.selected_price span{
	font-size: 14px;
	line-height: 22px;
	font-family: "Gilroy Light", "Arial", sans-serif;
	color: rgba(0, 0, 0, .2);
}
.selected_price span:nth-child(1){
	margin-right: 60px;
}
.range_cost{
	margin-top: 11px;
	margin-bottom: 32px;
}
.strip{
	width: 200px;
	height: 2px;
	margin-left: 3px;
	background: #000;
}
.catalog_nav{
	position: absolute;
	display: -webkit-box;  
 	display: -ms-flexbox;  
  	display: -webkit-flex;
	display: flex;
	width: 760px;
	justify-content: space-between;
	top: 1545px;
	left: 496px;
	background: #ebebeb;
}
.block_page_number ul{
	padding: 0;
	margin-top: 22px;
	margin-bottom: 16px;
	display: -webkit-box;  
 	display: -ms-flexbox;  
  	display: -webkit-flex;
	display: flex;
}
.block_page_number li{
	margin-right: 12px;
	margin-left: 12px;
	font-family: 'Gilroy', 'Arial', sans-serif;
	font-weight: bold;
	font-size: 16px;
	opacity: 0.3;
	cursor: pointer;
}
.block_page_number li:hover{
	opacity: 0.6;
}
.block_page_number li:active{
	opacity: 1;
}
.block_page_number .selected_page{
	opacity: 1;
}
.catalog_nav_next{
	padding-left: 26px;
	padding-top: 20px;
	padding-bottom: 20px;
	padding-right: 26px;
	cursor: pointer;
	font-family: 'Gilroy', 'Arial', sans-serif;
	font-weight: bold;
	font-size: 16px;
	letter-spacing: 3.2px;
	text-transform: uppercase;
}
.catalog_nav_next:hover{
	background: #d9d9d9;
}
.catalog_nav_next:active{
	background: #d9d9d9;
	color: rgba(0, 0, 0, 0.3);
}






.filters ul{
	padding: 0;
}
.filters fieldset{
	padding: 0;
	margin-top: 9px;
	margin-bottom: 32px;
}
.filters{
	width: 250px;
	padding: 0;
	padding-top: 68px;
	padding-left: 58px;
	padding-right: 66px;
	background: #efefef;
}
fieldset:nth-child(1){
	margin-bottom: 58px;
}
.filters .directory_setting{
	margin-top: 11px;
	margin-bottom: 20px;
}
.filters .directory_setting_bottom{
	margin-bottom: 27px;
}
.container_main_shop{
	background: linear-gradient(to right,#efefef 0%,#efefef 25%,#fff 25%,#fff 100%);
}
.main_shop_center{
	display: -webkit-box;  
 	display: -ms-flexbox;  
  	display: -webkit-flex;
	display: flex;
	width: 1160px;
	margin: 0 auto;
}
.catalog{
	margin-left: 73px;
	margin-bottom: 137px;
}
.catalog-list{
	display: -webkit-box;  
 	display: -ms-flexbox;  
  	display: -webkit-flex;
	display: flex;
	flex-wrap: wrap;
	width: 765px;
	margin-top: 50px;
	margin-right: 0;
}
.catalog ul{
	padding: 0;
}
.catalog-list .catalog_item:nth-child(2n){
	margin-left: 39px;
}

@-webkit-keyframes bounse {
	0% {
		transform: translateY(-1000px);
	}
	70% {
		transform: translateY(30px);
	}
	90% {
		transform: translateY(-10px);
	}
	100% {
		transform: translateY(0);
	}
}
@keyframes bounse {
	0% {
		transform: translateY(-1000px);
	}
	70% {
		transform: translateY(30px);
	}
	90% {
		transform: translateY(-10px);
	}
	100% {
		transform: translateY(0);
	}
}
@keyframes shake {
  0%,
  100% {
    transform: translateX(0);
  }

  10%,
  30%,
  50%,
  70%,
  90% {
    transform: translateX(-10px);
  }

  20%,
  40%,
  60%,
  80% {
    transform: translateX(10px);
  }
}
@media screen and (max-width: 1170px) {
	.footer_main{
		width: 1160px;
	}
}

